<section>
    <h1 class="text-center text-main font-bold text-4xl my-2" >Forget Password</h1>
 @if (step == 1) {
    <form [formGroup]="verifyEmail" class="bg-slate-100  shadow-md px-4 py-2 rounded  " (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2  ">
            <label class="  block mb-2 text-sm font-medium text-gray-900 dark:text-white " for="email">email</label>
            <input placeholder="ex:example@example.com" formControlName="email" id="email" type="email" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <!-- alert -->
        </div>

        <button [disabled]="verifyEmail.invalid" class="forget-btn ">Verify Email</button>
    </form>

 }
  @else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" >
        <div class="my-2 ">
            <label class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white " for="resetCode">resetCode</label>
            <input formControlName="resetCode" id="resetCode" type="text" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
         
        </div>

        <button [disabled]="verifyCode.invalid" class="forget-btn">Verify Codel</button>
    </form>
  }  
 @else if (step == 3) {
 
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" >
        <div class="my-2 ">
            <label class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white " for="email">email</label>
            <input formControlName="email" id="email" type="text" class="form-control  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            
        </div>

        <div class="my-2 ">
            <label class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white " for="newPassword">newPassword</label>
            <input formControlName="newPassword" id="newPassword" type="password" class="form-control  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            
        </div>

        <button [disabled]="resetPassword.invalid" class="forget-btn">Verify Email</button>
    </form>
    
 }
    

     

</section>