<section class="bg-slate-200 rounded-md shadow-md p-4 my-4 mx-auto w-2/3">
    <h1 class="text-main font-bold text-4xl">Login:</h1>
    @if (resText) { <span class="bg-red-300 p-3 absolute top-5 end-5">{{resText}} </span>}

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="my-3">
            @let emailFormControl = loginForm.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
            <input [class]="{
                'my-valid':!emailFormControl?.errors && ( emailFormControl?.touched  || emailFormControl?.dirty ),
                'my-invalid':emailFormControl?.errors && ( emailFormControl?.touched  || emailFormControl?.dirty ) ,
            }" formControlName="email" type="email" placeholder="ex:example@example.com" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            @if(emailFormControl?.errors && emailFormControl?.touched) {
            <div class="flex p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium">please check errors:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(loginForm.get('email')?.getError('required')){ <li>Email required</li> }
                        @if(loginForm.get('email')?.getError('email')){ <li>Email format is not correct</li> }

                    </ul>
                </div>
            </div>
            }


        </div>
        <div class="my-3">
            @let passwordFormControl = loginForm.get('password');

            <label for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
            <input [class]="{
                'my-valid':!passwordFormControl?.errors && ( passwordFormControl?.touched  || passwordFormControl?.dirty ),
                'my-invalid': passwordFormControl?.errors && ( passwordFormControl?.touched  || passwordFormControl?.dirty ) ,
            }" formControlName="password" type="password" id="password" placeholder="ex:Example:_123"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            @if(passwordFormControl?.errors && passwordFormControl?.touched) {
            <div class="flex p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <span class="font-medium">please check errors:</span>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(loginForm.get('password')?.getError('required')){
                        <li>password input is required</li> }

                        @if(loginForm.get('Password')?.getError('pattern')){ <li>password length must be at least 3</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>

        <div >  
            <button class="py-4"><a routerLink="/forget">ForgetPassword?</a> </button>

            <button type="submit" class="my-btn">
                @if(!loading) { Login <span><i class="fa-solid fa-right-to-bracket"> </i></span>}
                @if(loading) {<span><i class="fa-solid fa-circle-notch fa-spin fa-spin-reverse"></i></span>}
    
            </button>
        </div>


    </form>
</section>