<section class="  p-4 my-5">
   
    <input   [(ngModel)]="searchValue" type="text" placeholder="Search  by name..." class="p-4 my-5 mx-auto block rounded w-[50%]">
  
   
    <div class="container w-[90%] mx-auto ">
        
        <div class="  grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
            @for(product of productsData | search: searchValue ;track product._id){
            <div class="product cursor-pointer p-4" >

         <div [routerLink]="['/product-details' , product._id]">
            <div class="mt-4">
                <img [src]="product.imageCover" alt="product.title">
            </div>
            <div class="mt-4">
                <h2 class="text-main">{{product.category.name | uppercase }} </h2>
                <h1 class="font-black">{{product.title.split(' ').slice(0,3).join(' ')}} </h1>
            </div>
            <div class=" mt-4 flex flex-wrap justify-between">
                <h3> {{product.price}} </h3>
                <span class="rating-color"><i class="fa-solid fa-star"></i> {{product.ratingsAverage}}</span>
            </div>
         </div>

                <div class="mt-4">
                    <button class="btn-main w-3/4 mx-auto block">+Add to cart</button>
                    <!-- (click)="addToCart(product._id)" -->
                </div>
            </div>
            }
        </div>
    </div>
</section>
