@if (cartData!=null) {
    <section class="bg-slate-100 rounded-md shadow-md p-4 my-4 mx-auto w-2/3">
        <h1 class="font-black text-4xl my-3 text-emerald-400">cart</h1>
        <h3 class="font-black text-2xl my-3 text-emerald-400">total cart price: @if(cartData.totalCartPrice>0){
            {{cartData.totalCartPrice | currency: 'GBP'}}}@else {0 EGP} </h3>
    
        <div class="container w-[90%] mx-auto">
            @for (product of cartData.products; track product.product) {
            <div class="flex flex-wrap justify-between items-center border-b-4 border-gray-400 py-2">
                <div class="w-full sm:w-1/5 ">
                    <div class="p-img">
                        <img [src]="product.product.imageCover" class="w-full object-contain" alt="">
                    </div>
                </div>
    
                <div class="w-full sm:w-1/2">
                    <div class="p-desc">
                        <h1 class="font-black text-5xl my-3">{{product.product.title}} </h1>
                        <h2 class="font-black text-2xl my-3 text-emerald-400">Price: {{product.price}} </h2>
                        <h3 (click)="deleteItemFromCart(product.product._id)"
                            class="text-red-600 font-extrabold my-3 cursor-pointer">Remove <span><i
                                    class="fa-solid fa-trash"></i></span></h3>
                    </div>
                </div>
    
                <div class="w-full sm:w-1/5">
                    <div class="count text-emerald-400 text-2xl flex flex-wrap justify-between ">
                        <span (click)="updateCount(product.product._id , product.count +1)"><i
                                class="fa-solid fa-circle-plus"></i></span>
                        <h3>{{product.count}} </h3>
                        @if(product.count>1){
                        <span (click)="updateCount(product.product._id , product.count -1)"><i
                                class="fa-solid fa-circle-minus"></i></span>
                        }
                    </div>
                </div>
    
            </div>
            }
    
        @if(cartData.products.length>0){  
            <div class="my-3">
            <button [routerLink]="['/checkout' ,cartData._id]" class="my-btn">Check Out</button>
            <button (click)="clearItems()" class=" my-4  bg-red-400 rounded-md p-4 text-xl text-white w-full hover:bg-red-600 hover:shadow-md transition-all duration-300" >Clear Cart</button>
                        </div>
                    }
    
        </div>
    
    </section>
}