<section class="  p-4 my-5">
    <div class="container mx-auto">
        <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3">
           @for(brand of brandsData  ; track brand._id){
            <div class="category p-3 border-2 border-teal-500 rounded-md hover:shadow-md duration-200 transition-all hover:shadow-emerald-400">
                <div class="h-[90%]">
                    <img [src]="brand.image" class="w-full rounded-md h-full" alt="">
                </div>
                <div class="font-black text-xl text-center p-3">
                    <h1> {{brand.name}} </h1>
                </div>
            </div>
           }  
        </div>
    </div>
</section>